<% if flash[:notice] %>
  <div class = "notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class = "show">
  <div class = "show-top">
  <p><span class = "show-title">Title:</span> <%= @book.title %></p>
  <p><span class = "show-body">Body:</span> <%= @book.body %></p>
  </div>
  
  <div class = "show-link">
  <%= link_to "Edit", edit_book_path(@book.id), :style => "color: #464646" %> |
  <%= link_to "Back", books_path, :style => "color: #464646" %>
  </div>
</div>